[Unit]
Description=VikingDash, a dashboard for FRC teams powered by chromium
Wants=graphical.target
After=graphical.target

[Service]
Environment=DISPLAY=:0.0
Environment=XAUTHORITY=/home/pi/.Xauthority
Type=simple
ExecStart=/bin/bash /home/pi/VikingDash/start.sh
Restart=on-abort
User=pi
Group=pi

[Install]
WantedBy=graphical.target