{% for i in past %}
<div class="row" style="border-radius: 5px;margin-bottom: 10px;">
    <div class="col" style="padding: 0px;">
        <div style="height: 100px;background: var(--bs-red);border-top-left-radius: 10px;border-bottom-left-radius: 10px;padding: 14px;color: var(--bs-card-bg);">
            <h3 class="text-center" style="color: var(--bs-list-group-bg);margin: 0px;"><strong><span>{{i["redname"]}}</span></strong></h3>
            <p class="text-center" style="color: var(--bs-list-group-bg);">{{alliance_list(i['red']) | safe}}</p>
        </div>
    </div>
    <div class="col" style="padding: 0px;">
        <div style="height: 100px;background: var(--bs-gray-dark);padding: 5px;color: var(--bs-card-bg);">
            <h3 class="text-center" style="color: var(--bs-list-group-bg);margin: 0px;"><strong>{{i["name"]}}</strong></h3>
            <p class="text-center"><strong><span style="color: rgb(220, 53, 69);">{{i["redpoints"]}}</span></strong> - <strong><span style="color: rgb(13, 110, 253);">{{i["bluepoints"]}}</span></strong></p>
        </div>
    </div>
    <div class="col" style="padding: 0px;">
        <div style="height: 100px;background: var(--bs-blue);border-top-right-radius: 10px;border-bottom-right-radius: 10px;padding: 14px;color: var(--bs-card-bg);">
            <h3 class="text-center" style="color: var(--bs-list-group-bg);margin: 0px;"><strong>{{i["bluename"]}}</strong></h3>
            <p class="text-center" style="color: var(--bs-list-group-bg);">{{alliance_list(i['blue']) | safe}}</p>
        </div>
    </div>
</div>
{% endfor %}