{% for i in current %}
<div class="row" style="border-radius: 5px;margin-bottom: 10px;">
    <div class="col" style="padding: 0px;">
        <div style="height: 100px;background: var(--bs-red);border-top-left-radius: 10px;border-bottom-left-radius: 10px;padding: 14px;color: var(--bs-card-bg);">
            <h3 class="text-center" style="color: var(--bs-list-group-bg);margin: 0px;"><strong>{{i["redname"]}}</strong></h3>
            <p class="text-center" style="color: var(--bs-list-group-bg);">{{alliance_list(i['red']) | safe}}</p>
        </div>
    </div>
    <div class="col" style="padding: 0px;">
        <div style="height: 100px;background: var(--bs-gray-dark);padding: 5px;color: var(--bs-card-bg);">
            <h3 class="text-center" style="color: var(--bs-list-group-bg);margin: 0px;">{{i["name"]}}</h3>
            <p class="text-center">Starts at {{i["time"]}}</p>
        </div>
    </div>
    <div class="col" style="padding: 0px;">
        <div style="height: 100px;background: var(--bs-blue);border-top-right-radius: 10px;border-bottom-right-radius: 10px;padding: 14px;color: var(--bs-card-bg);">
            <h3 class="text-center" style="color: var(--bs-list-group-bg);margin: 0px;"><strong>{{i["bluename"]}}</strong></h3>
            <p class="text-center" style="color: var(--bs-list-group-bg);">{{alliance_list(i['blue']) | safe}}</p>
        </div>
    </div>
</div>
{% endfor %}